
<h1 class="title">PAYG Tax Calculator</h1>
<div class="container">
    <form [formGroup]="taxForm">
        <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Enter your income" formControlName="income">
            <mat-error *ngIf="taxForm.get('income')?.invalid">Please enter a valid income</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select formControlName="frequency" placeholder="Please select payment frequency" >
                <mat-option *ngFor="let freq of frequencyOptions" [value]="freq">{{freq}}</mat-option>
            </mat-select>
            <mat-error *ngIf="taxForm.get('frequency')?.invalid">Please select a payment frequency</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="calculateTax()" [disabled]="taxForm.invalid">Calculate Tax</button>
    </form>

    <div *ngIf="taxAmount >= 0">
        <p>Calculated Tax: {{ taxAmount | currency:'AUD':'symbol-narrow'  }}</p>
    </div>

    <div *ngIf="errorMessage" class="error-Message">
        <p>Error: {{ errorMessage }}</p>
    </div>
    
</div>
